<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- Add connection string here. -->
  <connectionStrings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="HelloWorld" connectionString="your_production_connection_string" />
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="LoremIpsum" connectionString="your_prouction_connection_string" />
  </connectionStrings>

  <!-- Replacing the service model -->
  <system.serviceModel  xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!-- https -->
      <basicHttpsBinding>
        <binding allowCookies="true" maxReceivedMessageSize="50000000" maxBufferSize="50000000" maxBufferPoolSize="50000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <!-- only https -->
          <security mode="Transport">
            <!-- No credential require to connect to this service -->
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxArrayLength="500000000" maxStringContentLength="200000000" maxBytesPerRead="200000000" maxNameTableCharCount="200000000" />
        </binding>
      </basicHttpsBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
