<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- Replacing the service model -->
  <system.serviceModel xdt:Transform="Replace">
    <services>
      <service name="WCFIIS.AnimalService">
        <host>
          <baseAddresses>
            <add baseAddress="https://your_production_https_url" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- These endpoints are based on bindings that are defined bellow (checkout the bindings) -->
        <endpoint address="" binding="basicHttpsBinding" contract="API.IAnimalService" bindingConfiguration="secureHttpsBinding" />

        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!-- https -->
      <basicHttpsBinding>
        <binding name="secureHttpsBinding" allowCookies="true" maxReceivedMessageSize="50000000" maxBufferSize="50000000" maxBufferPoolSize="50000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <!-- only https -->
          <security mode="Transport">
            <!-- No credential require to connect to this service -->
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxArrayLength="500000000" maxStringContentLength="200000000" maxBytesPerRead="200000000" maxNameTableCharCount="200000000" />
        </binding>
      </basicHttpsBinding>
    </bindings>
  </system.serviceModel>
  
  
</configuration>